html, body {
padding: 0;
margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    background-color: white;
    margin: 0px;
    border-bottom: 1px black solid;
}

#logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

#logo span {
    font-family: Georgia;
    font-size: 12px;
    color: #00ceb2;
    margin-left: 10px;
}

.image-content span {
    font-family: Georgia;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.stories {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.story{
   
}

.story span {
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

#nav {
    margin: auto 0;
}

#nav a {
    color: black;
}

#header ul {
    padding-right: 75px;
}

#header li {
    display: inline-block;
    padding: 0 15px;
}

.wrapper {
    background: 444;
    max-width: 900px margin: 0 auto;
}


#main {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding: 120px 10px 0px 10px;
}

#column {
    display: flex;
}

#column .large {
    flex-flow: column;
    justify-content: flex-end   
    width: 630px;
    margin-right: 32px;
}

#column .medium {
    width: 300px;
    margin-right: 32px;
}

#column .small {
    width: 240px;
}

.lead-story .image-content {
    background-image: url("/resources/images/img-story-main.png");
    width: 630px;
    height: 300px;
    background-color: coral;
}

/*
DIVs with image backgrounds
*/


.lead-story .image-content {
    display: flex; 
    background-image: url("/resources/images/img-story-main.png");
    width: 630px;
    height: 300px;
    background-color: coral;
}

.fall-cancelled {
    display: flex; 
    background-image: url("/resources/images/img-story-2.png");
    background-repeat: repeat-x;
    height: 300px;
}

.cats-control {
    display: flex; 
    background-image: url("/resources/images/img-story-1.png");
    background-repeat: repeat-x;
    height: 300px;
}

.camera-research {
    display: flex; 
    background-image: url("/resources/images/img-story-3.png");
    background-repeat: repeat-x;
    height: 300px;
}



.story {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.news-bites {
    display: flex;
    flex-flow: column;
    
}

.bite {
    color: DimGray;
    font-family: Verdana;
    font-size: 12px;
    background-color: WhiteSmoke;
    width: auto;
    padding: 15px 5px;
    justify-content: center;
    border-bottom: 1px black solid;
}

.news-bites h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

.title {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#footer nav {
    display: inline-block;
    padding-left: 25px;
}

#footer nav a {
    color: black;
}

nav span {
    display: inline-block;
    padding: 20px 10px;