p {
  padding: 20px;
  background: #eee;
  font-family: arial;
  line-height: 1.4em;
  display: block;
  border: 2px blue dotted;
}

img {
  float:left;
  margin: 25px;
}

.wrapper {
  background: 444;
  max-width: 900px
  margin: 0 auto;
}
